.wizardSteps-group--num{
    display: flex;
    position: relative;

    justify-content: center;
    align-items: center;
    background-color: #b3b3b3;
    color: black;
    border-radius: 50%;
    
    width: 15px;
    height: 15px;
    padding: 10px ;
/*     margin-bottom: 55px ;
 */    cursor: pointer;
    transition: background-color 0.2s ease-in

    

}

.wizardSteps-group{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-bottom: 60px;
    cursor: pointer;

    &--name{
        margin: 0;
        margin-left: 20px;
    }

    
}

.wizardSteps-group:not(:last-child)::after{
    content: "";
    position: absolute;    
    bottom: -145%;
    margin-left: 16.5px;
    width: 2px;
    height: 40px;
    z-index: -2;
    background-color: #b3b3b3;
}


.round{
    background-color: #b3b3b3;
}

.round::before{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: white;
    width: 17px;
    height: 17px;
    padding: 12px;
    border: 3px #2331ff solid;
    border-radius: 50%;

  

}

.wizardSteps{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    z-index: 0;
   
    color: black;

    &-checkbox{
        background-color: #6FE6B6;
        svg{
            transform: scale(2);
        }
    }
    
}

.fill{
    background-color: #2331ff;
    color: white;
}
