.resultsWizardDropdown{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;

    &--header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &-name{
            display: flex;
            align-items: center;

            p{
                margin-right: 10px;
            }

            &__grey{
                color: #919191;
            }
        }
    }


}


