.wizardform{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--name{
        color: #b3b3b3;
    }

    &--btnGroup{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &--btn{
        background-color: #2331ff;
        color: white;
        border: none;
        padding: 10px 25px ;
        align-self: flex-end;
        cursor: pointer;

    }

    &--radio{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #222222;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid #b3b3b3;
    }

    &--number{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #222222;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid #b3b3b3;


        input{
            border: 1px solid #3d4afa;
            outline: 1px solid #3d4afa;
            padding: 10px;
            font-weight: 600;
        }

    }
}